.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 800px) {
    .categories-container {
      flex-direction: column;
    }
  }